/* ========== THANH TIÊU ĐỀ ==========  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
 
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;    
    transition: all .2s linear;
}
 
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
 
section{
    padding:2rem 9%;
    margin-top: 5rem;
   
}
 
section:nth-child(even){
    background:#eee;
}
.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
 
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    margin-left: 30px;
}
 
.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
    margin-left: 30px;
}
 
 
/* ========== THANH TIÊU ĐỀ ==========  */
header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #FFD705;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
 
header .navbar a{
    font-size: 24px;
    border-radius: .5rem;
    padding:.2rem 1.5rem;
    color:var(--light-color);
}
 
header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
    font-weight: bold;
}
 
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background:#FFD705 ;
}
 
header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}
 
header .icons #menu-bars{
    display: none ;
}
 
 
 
#search-form{
    position: fixed;
    margin-top: 9rem;
    top:110%; right: 0;    
    z-index: 1004;
    background:rgba(88, 87, 74, 0.766);  
    padding:0 1rem;    
  width: 50rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
 
}
 
#search-form.active{
    top:0;
}
 
#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}
 
#search-form #search-box::placeholder{
    color:#eee;
}
 
#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
 
#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}
 
#search-form label:hover{
    color:var(--green);
}

#login-form {
    position: fixed;
    margin-top: 9rem;
    top:110%; right: 0;    
    z-index: 1004;
    background: #fff;
    padding:0 1rem;    
  width: 30rem;
  border-radius: .8rem;  
  height: 40rem;
 
  }
 
#login-form.active {
    top: 0;
    right: 2rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  .dropdown-item
  {
      font-weight: 400;
 
      display: block;
      clear: both;
 
      width: 100%;
      padding: .5rem 1rem;
 
      text-align: inherit;
      white-space: nowrap;
 
      color: #212529;
      border: 0;
      background-color: transparent;
  }
  .dropdown-item:hover,
  .dropdown-item:focus
  {
      text-decoration: none;
 
      color: #16181b;
      background-color: #f6f9fc;
  }
  .dropdown-item.active,
  .dropdown-item:active
  {
      text-decoration: none;
 
      color: #16181b;
      background-color: transparent;
  }
  .dropdown-item.disabled,
  .dropdown-item:disabled
  {
      pointer-events: none;
 
      color: #8898aa;
      background-color: transparent;
  }
  .dropdown-menu .dropdown-item
  {
      font-size: 20px;
 
      padding: 2rem 1.5rem;
  }

/* media queries  */
 
@media (max-width:991px){
 
    html{
        font-size: 55%;
    }
   
    header{
        padding:1rem 2rem;
    }
 
    section{
        padding:2rem;      
       
    }
 
 
}
 
 
@media (max-width:768px){
 
    header .icons #menu-bars{
        display: inline-block;
    }
 
    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
 
    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }
   
    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }  
 
}
 
 
 
/* ========== HEADER END====  */
.heading {
    background: url(../ImageContact/slide2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
  }

 .heading p{
    color: #ffffff;
    font-weight: 900;
 }
.contact .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
  }
  
  .contact .icons-container .icons {
    text-align: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    background: #bac34e;
    color: #fff;
    border-radius: 50%;
  }
  
  .contact .icons-container .icons h3 {
    color: #222;
    font-size:30px;
    padding: 1rem 0;
  }
  
  .contact .icons-container .icons p {
    color: #666;
    font-size: 1.5rem;
    line-height: 2;
  }
  
  .contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .contact .row form {
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
            background-color: #FFF8D4;
  }
  
  .contact .row form h3 {
    font-size:30px;
    padding-bottom: 1rem;
    color:#000;
    font-weight: 900;
  }
  
  .contact .row form .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .contact .row form .inputBox input {
    width: 49%;
  }
  
  .contact .row form .inputBox .box,
  .contact .row form textarea {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #222;
    text-transform: none;
    margin: .7rem 0;
  }
  
  .contact .row form textarea {
    width: 100%;
    height: 15rem;
    resize: none;
  }
  
  .contact .row .map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    width: 100%;
  } 




.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0, 0, 0, 0.2);   
    padding:1.5rem;
    margin:0 auto;
}
 
 
.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
.order form .inputBox .input{
    width:50%;
  
}
 
.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}
 
.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}
 
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid var(--green);
}
 
.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}
 
.order form .btn{
    margin-top: 0;
}
 
 
 
/* ========== CONTACT END ==========  */
 
/* check */
.bgcheck {
    width:1005;
    height: 550px;
    background-image: url(../ImageContact/slide1.jpg);
    background-size: cover;
    
 
}
 

.h2 {
    color:#000;
    padding: 30px;
    font-size: 36px;
    text-align: center;;
}
.p {
    color: #000;
    font-size: 18px;
    text-align: center;
}
 
 
 
 
