@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;    
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    
}

section{
    padding:2rem 9%;
    margin-top: 5rem;
   
}

section:nth-child(even){
    background:#eee;
}




header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #FFD705;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    
}

header a{
    font-size: 1.8rem;
    border-radius: .5rem;
    padding:.2rem 1.5rem;
    color:var(--light-color);
}


header a.active{
    max-width: 50%;
    position: absolute;
    left: 200px; top: 18%; 
    font-size: 30px;
    color:rgb(0, 0, 0);
   
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none ;
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;      
        
    }
   
}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }


    header.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header a{
        display: block;
        padding:1.2rem;
        margin:1rem;
        font-size: 2rem;
        
    }
    .loichao{
    
        position: relative;
        top: 5px;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .content h3{
        font-size: 5rem;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }
  
}
/* ========== THANH TIÊU ĐỀ END====  */
.img{
    height: 630px;
    color: rgb(255, 255, 255);
 
}
.imglogin{
margin-top: 140px;
height:630px;
background-image:url(Image/slide2.jpg);
background-repeat: no-repeat;
background-size: 100% auto ;

}

.loichao{
    position: absolute;
    left: 60px;;
    padding-top: 299px;
    font-size: 50px;
    color: #ffffff;
}
.login {
    width: 400px;
    position: absolute;
    left: 900px; top: 200px;
    padding: 40px;
    border-radius: 12px;
    background: #ffffff;
    height: 500px;
}
.login h1 {

    color: #000;
    font-size: 30px;
  
}

.login form {
    color: #000;
    font-size: 15px;
}

.login form .form-group {
    color: #000;
   
}


.form-control{
    height: 40px;
    width:100%;
}

.footer__col3 input{
    margin-top: 1rem;
        display: inline-block;
        font-size: 1.7rem;
        color:#fff;
        background: var(--black);
        border-radius: .5rem;
        cursor: pointer;
        padding:.8rem 3rem;
}

.login form input[type="text"] {

    font-size: 15px;
}
.login form select[type="text"] {

    font-size: 15px;
}


.login form input[type="number"] {

    font-size: 15px;
}
.login form input[type="password"] {

    font-size: 15px;
}

.login form input[type="submit"] {
    
    position: relative;
    left: -30px;
    background-color: #FFD705;
    font-size: 15px;
}
td{
   position: relative;
   top: 10px;
    padding: 4px;
    width: 40px;
}
.dk{
    position: relative;
    top: 25px;left: 50px;
}
/* Footer Styles */

.footer
{
    background: #dbbb02;
    padding:2rem 9%;
    margin-top: 5rem;
}
.footer__wrapper {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.footer__logo {
    background-image:url(Image/Google-Map-US_10.webp);
    background-size: cover;
	width: 200px;
    height: 80px;
	margin-bottom: 2rem;
}
.footer__logo1 {
    background-image:url(Image/dathongbao.png);
    background-size: cover;
	width: 260px;
    height:100px;
	margin-top: 1.5rem;
}
.footer__desc {
	font-size: 1.4rem;
	color: var(--black-2);
	margin-bottom: 2rem;
}
.footer__socials__title {
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 1rem;
}
.footer__socials li {
	display: inline-block;
	margin-right: 0.5rem;
}
.footer__socials a {
	padding: 0.5rem 0.8rem;
	background-color: var(--white-1);
	border: 1px solid var(--green-2);
	border-radius: 8px;
}
.footer__socials svg {
	width: 20px;
	color: var(--black-2);
}
.footer__text__title {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	color: var(--black-1);
	font-weight: 600;
}
.footer__text a {
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	color: var(--black-2);
	font-family: Raleway;
	font-weight: 500;
	line-height: 1.4em;
}
@media only screen and (min-width: 768px) {
	footer {
		padding-top: 8rem;
		padding-bottom: 4rem;
	}
	.footer__wrapper {
		flex-direction: row;
	}
	.footer__col1 {
		flex: 3;
	}
	.footer__col2,
	.footer__col3 {
		flex: 2;
	}
	.footer__desc {
        color: #000;
		max-width: 300px;
		font-size: 1.8rem;
		margin-bottom: 2.5rem;
	}
	.footer__socials__title {
        color: #000;
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}
	.footer__text__title {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	.footer__text a {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
}
#copyright {
	padding: 1rem 0;
    
}
.copyright__text {
    color: #000;
	font-size: 1.4rem;
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.copyright__text {
		font-size: 1.6rem;
		text-align: center;
	}
}
.footer .icons i,
.footer .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

.footer .icons i:hover,
.footer .icons a:hover{
    color:rgb(0, 0, 0);
    background: var(--green);
    transform: rotate(360deg);
}

.footer .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}

.footer .box a{   
    text-decoration: none;
    padding:.5rem 0;
    font-size: 1.8rem;
    color:rgb(0, 0, 0);
}

.box ul li
{
    color: #000;
    list-style-type: none;
    display: inline;
    margin-left: 10px;
    font-size: 2.5rem;
}

 .inputBox1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inputBox1 .input{
    width:100%;
}
.inputBox1 .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.inputBox1 .input input,
.inputBox1 .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}

.inputBox1 .input input:focus,
 .inputBox1 .input textarea:focus{
    border:.1rem solid var(--green);
}

 .inputBox1 .input textarea{
    height:20rem;
    resize: none;
}

/* End Footer Styles */

    /*Nhập mã OTP*/
    .imgtrang{
        margin-top: 140px;
        height:630px;
        background-image:url(Image/IMG_5796-2.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto ;
        z-index: 1000;
        }

    .imgpass{
        margin-top: 140px;
        height:530px;
        background-color: #d0d0d0;
        background-repeat: no-repeat;
        background-size: 100% auto ;
    }
    .imgdetails{
        margin-top: 140px;
        height:630px;
        background-image:url(Image/slide1.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto ;
    }
    .logout{
        position: absolute;
        bottom: 30px;
        left: 165px;
    }
    .btn {
        margin-top: 1rem;
        display: inline-block;
        font-size: 1.7rem;
        color:#fff;
        background: var(--black);
        border-radius: .5rem;
        cursor: pointer;
        padding:.8rem 3rem;
        margin-left: 30px;
    }
    
    .btn:hover{
        background: var(--green);
        letter-spacing: .1rem;
        margin-left: 30px;
    }   
        
       
